<script type="text/ng-template" id="station-template">
  <md-item-content>
    <md-button ng-href="{{stationList.getDetailUrl(item)}}" flex>
      {{item.name || item}}
      <small ng-if="item.distance">{{item.distance}} km</small>
    </md-button>
    <md-button ng-click="stationList.toggleFavorite(item)"
               class="md-accent"
               aria-label="toggle favorite">
      <i class="fa"
         ng-class="stationList.isFavorite(item) ? 'fa-star' : 'fa-star-o'">
      </i>
    </md-button>
  </md-item-content>
</script>

<div layout="column" class="view-frame">

  <!-- headerbar -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        <span>Munich Departures</span>
      </h1>
    </div>
  </md-toolbar>

  <!-- content -->
  <md-content>

    <!-- favorites -->
    <div ng-if="stationList.favorites.length">
      <md-toolbar>
        <h3 class="md-toolbar-tools">
          <span>
            <i class="fa fa-star"></i> Favorites
          </span>
        </h3>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-item ng-repeat="item in stationList.favorites"
                   class="animate-repeat">
            <div ng-include="'station-template'"></div>
          </md-item>
        </md-list>
      </md-content>
    </div>

    <!-- nearby -->
    <md-toolbar>
      <h3 class="md-toolbar-tools">
        <span flex>
          <i class="fa fa-location-arrow"></i> Nearby
        </span>
        <md-progress-circular class="md-hue-3"
                              md-mode="indeterminate"
                              md-diameter="15"
                              ng-if="stationList.requestingLocation && stationList.useLocation">
        </md-progress-circular>
        <md-switch ng-model="stationList.useLocation"
                   aria-label="Nearby Stations Switch"
                   ng-change="stationList.locationSwitchChange()"
                   class="md-primary md-hue-3">
        </md-switch>
      </h3>
    </md-toolbar>
    <md-content>
      <md-list ng-if="stationList.useLocation">
        <md-item ng-repeat="item in stationList.nearby">
          <div ng-include="'station-template'"></div>
        </md-item>
      </md-list>
    </md-content>

    <!-- search -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <i class="fa fa-search"></i>
        <md-input-container md-no-float flex>
          <input id="search"
                 type="search"
                 ng-model="stationList.filter"
                 placeholder="Search for a station...">
        </md-input-container>
      </div>
    </md-toolbar>
    <md-content>
      <md-list ng-if="stationList.filter.length">
        <md-item ng-repeat="item in stationList.stations | filter: {name: stationList.filter} | limitTo : 50">
          <div ng-include="'station-template'"></div>
        </md-item>
      </md-list>
    </md-content>

  </md-content>

</div>
